$text-color-white: #f0f0f0;
$text-color-a: #dfdfdf;

$blue: blue + 123;
$red: red + 82;
$green: green + 123;

$g-len: 1.0625em;
$f-len: 1.5em;
$gf-len: 2.56em;

$magin-len: .15em;
$padding-len: .2em;

html, body {
	background-color: #2f2f2f;
    color: $text-color-white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

nav {
    padding: $g-len;
	background-color: #282828;
	text-align: center;
    border-bottom: #999 solid 1px;


    a {
        color: $text-color-a;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: underline;
        }
        &:visited {
            color: $text-color-a;
            text-decoration: none;
        }
        &:visited:hover {
            color: white;
            text-decoration: none;
        }
        
    }
}


a {
    color: $blue;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: $blue - 50;
        text-decoration: underline;
    }
    &:visited {
        color: $blue;
        text-decoration: none;
    }
    &:visited:hover {
        color: $blue - 50;
        text-decoration: none;
    }
}

h1 {
    color: $green;
}

// ------ Classes

// Page format classes
.container {
    padding: 0 $f-len*2;
    &-fill {
        padding: 0 0;
    }
}

.m {
    margin: $magin-len;
    &-1 {
        margin: $magin-len * 2;
    }
    
    &-2 {
        margin: $magin-len * 3;
    }
    
    &-3 {
        margin: $magin-len * 4;
    }
}

.box {
    padding: 10 .5em;
}

// Text Classes
.text-padding {
    padding: 0 $g-len;
}

.paragraph {
    text-align: justify;
    padding-left: $g-len;
    &-title {
        text-align: justify;
        padding-left: $g-len*2;
    }
}

